Tema 4/Ejercicios DTD/Ejercicio 1.dtd

 <!ELEMENT grupos (grupo)>
 <!ELEMENT grupo (nombre,enlacegrupo,integrantes)>
 <!ELEMENT nombre (#PCDATA)>
 <!ELEMENT enlacegrupo (#PCDATA)>
 <!ELEMENT integrantes (integrante)>
 <!ELEMENT integrante (nombreinte,apellidos,enlacepersonal,real,relacion)>
 <!ELEMENT nombreinte (#PCDATA)>
 <!ELEMENT apellidos (#PCDATA)>
 <!ELEMENT enlacepersonal (#PCDATA)>
 <!ELEMENT real (#PCDATA)>
 <!ELEMENT relacion (#PCDATA)>
